{% extends "layout.html"%}

{% block heading %}
<center>
    Registrieren
</center>
{% endblock %}

{% block body %}
  <center>
    <form action="{{ url_for('show_room') }}" method="post">
      <input type="text" name="vorname" placeholder="Vorname" required>
      <br>
      <br>
      <input type="text" name="nachname" placeholder="Nachname" required>
      <br>
      <br>
      <input type="email" name="email" placeholder="E-Mail Addresse" required>
      <br>
      <br>
      <input type="password" name="password" placeholder="Neues Passwort" required>
      <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
      </div>
      <br>
      <button style="background:lightgreen;">Registrieren</button>
    </form>
  </center>
{% endblock %}
